<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Grabber Options</title>
  <link rel="stylesheet" href="style.css">
  <script src="vue.min.js"></script>
</head>
<body>
  <h1>Grabber Options</h1>
  <div id="app">
    <div class="item" v-for="item in list" :class="{disabled:item.disabled}">
      <div class="item-link">
        <a :href="item.url" target="_blank" v-text="item.url"></a>
        <div class="text-gray" v-text="lastCheck(item)"></div>
      </div>
      <div class="item-buttons">
        <button @click="switchStatus(item)" v-text="item.disabled?'Enable':'Disable'"></button>
        <button @click="refresh(item)" :disabled="item.checking">Refresh</button>
        <button @click="remove(item)">Remove</button>
      </div>
    </div>
    <form class="item" @submit.prevent="subscribe">
      <input class="item-link" type="url" v-model="url" placeholder="Subscribe a new URL...">
      <div class="item-buttons">
        <button class="large" type="submit" :disabled="!url">Subscribe</button>
      </div>
    </form>
  </div>
  <script src="app.js"></script>
</body>
</html>
