* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0 2em;
  background-color: #efefef;
  color: #333;
}

h1 {
  margin: 80px auto;
}

h2 {
  margin: 40px auto;
}

img {
  width: 100%;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

header,
section,
footer {
  margin: 40px auto;
}

footer {
  text-align: center;
  color: #999;
}

figure {
  margin: 0 0 100px;
}

figcaption {
  margin-bottom: 30px;
}

li {
  margin-bottom: .5em;
}
