* {
  box-sizing: border-box;
}

body {
  max-width: 1000px;
  margin: auto;
  padding: 0 2em;
  background-color: #efefef;
  color: #333;
  font-size: 14px;
  font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",Helvetica,Arial,Tahoma,sans-serif;
}

h1 {
  margin: 1em auto;
  font-size: 2rem;
}

h2 {
  margin: 1em auto;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

header,
section,
footer {
  margin: 40px auto;
}

footer {
  text-align: center;
  color: #999;
}

ul,
ol {
  padding-left: 2em;
}

li {
  margin-bottom: .5em;
}
